.AppHeader{
    color:#ff9e16;
    font-family: Arial;
    font-size:28px;
    text-align: center;
}
.PageHeader{
    color:#45bce5;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}
.InformationPanel{
    background-color:lightgray;
    text-align: center;
}
.AllstateBtn{
    background-color:#45bce5;
}
